.account-popup{
    position: fixed;
    top: 60%;
    left: 7%;
    z-index: 10;
    padding: 1%;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #c5c6c7;
    color: #1F2833;
    border: 1px solid #c5c6c7;
    
}
